.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.form{
  text-align: center;
  width:70%;
  margin:auto;
  color: #004d40;
  border: solid #01579b 1px;
  border-radius: 5px;
  padding: 5%;
}

.thumbnail{
  height: 20vw;
  width: 40vw;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pageConfig, .centerCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.question{
  font-weight: bold;
  margin-right: 5vw;
}

.tips{
  font-size: small;
  color: grey;
  margin-left: 5vw;
}

.answ {
  margin-left: 10vw;
}

.res {
  margin: 10vw;
  font-size: large;
  color: black
}

.avatar:link {
  color: #000000;
} /* 未访问链接*/
.avatar:visited {
  color: white;
} /* 已访问链接 */
.avatar:hover {
  color: pink;
} /* 鼠标移动到链接上 */
.avatar:active {
  color: gray;
} /* 鼠标点击时 */

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

.card_display{
  margin: auto;
}

