.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form{
  text-align: center;
  width:70%;
  margin:auto;
  color: #004d40;
  border: solid #01579b 1px;
  border-radius: 5px;
  padding: 5%;
}

.avatar:link {
  color: #000000;
} /* 未访问链接*/
.avatar:visited {
  color: white;
} /* 已访问链接 */
.avatar:hover {
  color: pink;
} /* 鼠标移动到链接上 */
.avatar:active {
  color: gray;
} /* 鼠标点击时 */

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

